* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'tajawal', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mask {
    width: 550px;
    height: 100px;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.;
    -moz-transition: all 0.;
    -ms-transition: all 0.;
    -o-transition: all 0.;
}

.mask span {
    display: block;
    position: absolute;
    top: 100px;
    padding-bottom: 20px;
    background-size: 100% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-repeat: no-repeat;
    font-size: 50px;
    font-weight: bold
}

.mask span[data-show] {
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transition: transform .5s ease-in-out;
    -webkit-transition: transform .5s ease-in-out;
    -moz-transition: transform .5s ease-in-out;
    -ms-transition: transform .5s ease-in-out;
    -o-transition: transform .5s ease-in-out;
}

.mask span:nth-child(1) {
    background-image: linear-gradient(45deg, #0ecffe 50%, #07a6f1);
}

.mask span:nth-child(2) {
    background-image: linear-gradient(45deg, #18e198 50%, #0ec15d);
}

.mask span:nth-child(3) {
    background-image: linear-gradient(45deg, #8a7cfb 50%, #633e9c);
}

.mask span:nth-child(4) {
    background-image: linear-gradient(45deg, #fa7671 50%, #f45f7f);
}